<div class="firstRow">
  <div class="row">
    <div class="col-md-2">
      <a href="/home">
        <h1 class="header">k<span id="head">B</span> </h1>

      </a>

    </div>
    <div class="col-md-10">
      <div class="login">
        <form autocomplete="off" action="/search_results" method="GET">
          <div class="row">
            <div class="col-md-8">
              <input
                type="search"
                class="form-control"
                id="search"
                placeholder="search"
                name="search"
              />
            </div>
            <div class="col-md-2 login-btn">
              <button type="submit" class="btn btn-primary">Search</button>
            </div>
            {{! <div class="col-md-1 login-btn">
              <button type="" class="btn btn-primary"></button>
            </div> }}
          </div>

        </form>
      </div>
    </div>
  </div>
</div>